
DB_SERVER=localhost
DB_DATABASE=GestionTaller
DB_USER=sa
DB_PASSWORD=Cualquier_contraseña
PORT=3002
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
JWT_SECRET=5ad1d75b86ec021bccf5bc0a075567c77dc6761ab39346f3078d6266b3aa58109557fde2e368519abfc21d144efbb2b10
